<ion-card>
  <ion-card-content>
    <ion-grid>

      <ion-row nowrap *ngFor="let rowNumber of rows">
        <ion-col>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>{{nombresAromas[rowNumber]}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-input type="number" placeholder="{{times[rowNumber]}}" [(ngModel)]="times[rowNumber]"></ion-input>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>