<ion-content>

  <ion-button color="warning" expand="block" (click)="settings()">
    Ajustes
  </ion-button>

  <ion-button #connectBtn color="{{connectBtn_color}}" expand="block" (click)="connect()">
    {{connectBtn_text}}
  </ion-button>

  <ion-button color="success" expand="block" (click)="send()" disabled="{{!connected}}">
    Enviar
  </ion-button>

  <ion-list>
    <div *ngFor="let ngFor_index of indexes"  style="font-size:smaller">
      <app-device-card [device]="devices[ngFor_index]"></app-device-card>
    </div>
  </ion-list>
  
</ion-content>